
/* Firstpage.css */



.firstpage {
  background-color: #f4f6f8;
  color: #333;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  padding: 0 5%;
  gap: 40px;
}

.hero-overlay {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-overlay p {

  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: rgb(255, 0, 89);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.hero-button:hover {
  background-color: rgb(198, 0, 69);
}

.hero-image {
  flex: 1;
  background-image: url("/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 20px;
}



/* Carousel Section */
.carousel-section {
  margin: 40px auto;
  max-width: 900px;
  padding: 0 20px;
}

/* Home Section */
.home-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
}

.home-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}
